<!doctype html>
<html>
<head>
  <title><%= current_page.data.title %> :: Glider Labs</title>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <link rel="shortcut icon" type="image/x-icon" href="/images/dots.png" />
  <link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:400,700">
  <%= stylesheet_link_tag "normalize", "syntax", "global", current_page.data.style || "default" %>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/atom.xml", title: "Atom Feed" %>
</head>

<body>
<div id="wrapper">

  <header>
    <div class="container clearfix">
      <nav>
        <ul class="nav">
          <li class="presentation"><h1 id="logo"><a href="/"><img src="/images/gliderlabs.png" /></a></h1></li>
          <li class="presentation"><a href="/services">Services</a></li>
          <li class="presentation"><a href="/blog">Blog</a></li>
          <li class="presentation"><a href="/about">About</a></li>
          <!-- <li class="presentation"><a href="/advocate">Advocate</a></li> -->
          <li class="presentation"><a target="_bank" href="http://github.com/gliderlabs">Open Source</a></li>
          <li class="presentation"><a href="mailto:team+contact@gliderlabs.com"><i class="fa fa-envelope-o"></i>Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="main" role="main">
    <%= yield %>
  </main>

  <%= partial "layouts/footer" %>

</div>

<%= javascript_include_tag  "all" %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-58928488-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
